# Build output directories
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven specific
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA specific files
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Eclipse specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific files
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Java class files
*.class

# JavaFX specific
/lib/

# Operating System-specific files
.DS_Store   # macOS
Thumbs.db   # Windows